* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    line-height: 1.6;
}

/* Navigation */
header {
    background: #020617;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.hero-content p:first-child {
    color: #38bdf8;
    font-size: 20px;
}

.hero h1 {
    font-size: 55px;
    margin: 10px 0;
}

.hero h2 {
    color: #94a3b8;
    margin-bottom: 20px;
}

.hero p {
    max-width: 600px;
    margin: auto;
}

.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 25px;
    background: #38bdf8;
    color: #020617;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

/* Sections */
.section {
    max-width: 1000px;
    margin: auto;
    padding: 80px 20px;
    text-align: center;
}

.section h2 {
    font-size: 35px;
    margin-bottom: 25px;
    color: #38bdf8;
}

/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    background: #1e293b;
    padding: 12px 25px;
    border-radius: 6px;
}

/* Projects */
.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.project-card {
    background: #1e293b;
    padding: 25px;
    width: 280px;
    border-radius: 10px;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-link {
    display: inline-block;
    margin-top: 15px;
    color: #38bdf8;
}

/* Education */
.education-card {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
}

/* Contact */
.social-links {
    margin-top: 20px;
}

.social-links a {
    color: #38bdf8;
    margin: 0 10px;
}

/* Footer */
footer {
    background: #020617;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}

/* Mobile */
@media (max-width: 700px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    .nav-links {
        gap: 12px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 40px;
    }
}